__pycache__/
*.py[cod]
__pycache__/assets.cpython-37.pyc
__pycache__/Castle.cpython-37.pyc
__pycache__/CastleText.cpython-37.pyc
__pycache__/chapter_level.cpython-37.pyc
__pycache__/characterSelect.cpython-37.pyc
__pycache__/firebase.cpython-37.pyc
__pycache__/Game.cpython-37.pyc
__pycache__/levelselect.cpython-37.pyc
__pycache__/login.cpython-37.pyc
__pycache__/Player.cpython-37.pyc
__pycache__/Portal.cpython-37.pyc
__pycache__/PortalText.cpython-37.pyc
__pycache__/Registration.cpython-37.pyc
__pycache__/results.cpython-37.pyc
__pycache__/studentmenu.cpython-37.pyc
__pycache__/subject_chapter_selection.cpython-37.pyc
__pycache__/subject_level.cpython-37.pyc
DatabaseControllers/__pycache__/FirebaseConfig.cpython-37.pyc
DatabaseControllers/__pycache__/ScoresDB.cpython-37.pyc
DatabaseControllers/__pycache__/StudentDB.cpython-37.pyc
/Save Data.bak
/Save Data.dat
/Save Data.dir
